$bg-color: #202469;
$bg-hover-color: #091552;
$table-th-background: #c3d2e8;
$table-td-background: #d5dde8;
$page-title-font-size: 30px;
$page-title-font-weight: 700;
$room-name-font-size: 20px;
$room-name-font-weight: 300;