@import 'src/assets/variables';

.header {
  background-color: $bg-color;
  .ant-menu {
    background-color: transparent;
  }

  .right {
    float: right;
  }
  .left {
    float: left;
  }
  .dashboard-link {
    justify-content: flex-start;
  }
}